@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat';
}


#box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo{
    display: flex;
    flex-direction: row;
    
 
    width: 550px;
    height: 417px;
    background-color: white;
    border-radius: 10px;
    
}

#img-perfume, #img-conteudo-prefume{
    width: 50%;
    height: 100%;
} 

main div picture img {
    width: 100%;
    height: 100%;
    border-top-left-radius : 10px;
    border-bottom-left-radius:10px ;
}

h2, h3, button, p, #preco{
    margin-left: 25px;
}

h2, p, #preco-promocao, s{
    color:hsl(228, 12%, 48%);
}

h2, p, button, #preco-promocao{
    font-family: 'Montserrat', sans-serif;
}

h3, #preco{
    font-family: 'Fraunces', serif;
}


h2{
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 25px;
}

h3{
    /* width: 230px; */
    margin-top: 15px;
    font-size:32px;
    line-height: 28px;
    margin-right: 38px;
}

p{
    font-size: 14px;
    
    margin-top: 30px;
    margin-right: 10px;
    line-height: 23px; 
}

#precos{
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

#preco{
    font-size: 32px;
    color: hsl(158, 36%, 37%);

}

#preco-promocao{
    font-size: 13px;
    margin-left: 17px;
    margin-top: 12px;
  
}


button{
    width: 220px;
    height: 42px;

    display: block;
    margin-top: 25px;
    border-radius: 8px;

    font-weight: 600;
    font-size: 14px;

    background-color: hsl(158, 36%, 37%);
    color: #fff; 
    transition: .4;
    cursor: pointer;
}

button img{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -2px ;
}

a{
    text-decoration: none;
}

button:hover{
    background-color:hsl(158, 36%, 17%);
}

@media (max-width:520px){
    #conteudo{
        width: 250px;
        height: 447px;
        flex-direction: column;
        border-radius: 8px;
       
    }

    #img-perfume{
        width: 100%;
        height: 40%;
    }

    main div picture img{
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 8px;
    }

    h2, h3, button, p, #preco{
        margin-left: 20px;
    }

    h2{
        margin-top: 17px ;
        font-size: 9px;
    }

    h3{
        width: 220px;
        font-size: 23px;
        line-height: 22px;

        margin-right: 0px;
        margin-top: 10px;
    }

    p{
        width: 210px;
        font-size: 10px;
        line-height: 17px;

        margin-right: 0px;
        margin-top: 12px;
    }

    #precos{
        margin-top: 15px;
    }

    #preco{
        font-size:  23px;
    }

    #preco-promocao{
        font-size: 10px;

        margin-top: 8px;
        margin-left: 10px;
    }

    button{
        width: 210px;
        height: 35px;
        margin-top: 12px;

        font-size: 10px;
        font-weight: bold;
    }

    button img{
        width: 12px;
        height: 12px;
    }
}